@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #9b59b6;
  --color-primary-hover: #8e44ad;
  --color-background: #efefef;
  --color-border: #dadada;
  --color-heading: #1b1f13;
  --color-text: #1b1f13;
  --color-text-secondary: #6c6c6c;
  --color-placeholder: #a1a1a1;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
